<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate Generator</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <input type="file" id="file-upload" accept=".txt" onchange="showFileName(event, 'file-name')"/>
    <p id="file-name"></p>
    <input type="file" id="file-upload-2" accept=".txt" onchange="showFileName(event, 'file-name-2')"/>
    <p id="file-name-2"></p>
    <script src="script.js"></script>
</body>
</html>